/* roboto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v47-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v47-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* raleway-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/raleway-v34-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
.container {
  width: 100%;
  max-width: 1200px;
}

.title {
  font-size: 36px;
  font-weight: 700;
  color: #214e41;
  font-family: "Roboto";
  margin-bottom: 34px;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #214e41;
  font-family: "Raleway";
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  margin: 0;
  cursor: default;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  display: inline-block;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

address {
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header {
  padding: 33px 45px;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__logo {
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
}
.header__navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
.header__navigation-list-item-link {
  color: #214e41;
  font-weight: 600;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.header__navigation-list-item-link:hover {
  color: #222222;
}
.header__btn {
  width: 137px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  background-color: #43806c;
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header__btn:hover {
  color: #222222;
  background-color: #ffffff;
  border: 1px solid #222222;
}
.header__select {
  border: none;
  color: #214e41;
  font-size: 13px;
  margin-right: 10px;
  outline-style: none;
  cursor: pointer;
}
.header__select:last-child {
  width: 48px;
  margin-right: 0;
}/*# sourceMappingURL=main.css.map */